{% extends 'mail/template.twig' %}

{% block content %}

	<p>Здравствуйте, <b>{{ user.name }}</b>!</p>
	<p>Было запрошено восстановление доступа к Вашему аккаунту в приложении <b>CarKeeper</b> (Android)</p>
	<p>Аккаунт: <b>ID:{{ user.id }} / {{ user.email }} / {{ user.tel }}</b></p>
	<p>Если это сделали Вы, то подтвердите восстановление перейдя по следующей ссылке: <br><a href="{{ link }}" style="color:#a94545">{{ link }}</a></p>
	<p>У вас есть ровно час для того, чтобы завершить процесс восстановления.</p>
	<p>Если вы не запрашивали восстановление доступа, то просто проигнорируйте это письмо. Ваши данные в надежных руках!</p>

{% endblock %}
